<div class="d-flex" style="height: 100vh">
	<div class="w-75 d-flex justify-content-center align-items-center" style="height: 100vh">
		<canvas
			#canvas
			style="max-width: 500px; max-height: 500px;">
		</canvas>
	</div>
	<div class="w-25 d-flex justify-content-center" style="background-color: #eaeaea; height: 100vh">
		<form class="mt-5">
			<button
				type="button"
				ngxFilePicker
				accept="image/png,image/jpeg"
				(filePick)="ImageFilePicked($event)"
			>
				Select image
			</button>

			<div class="mt-3">
				<label for="author">Author</label><br>
				<input name="author" type="text" placeholder="Author name" [(ngModel)]="author">
			</div>

			<div class="mt-3">
				<label for="title">Title</label><br>
				<input name="title" type="text" placeholder="Book title" [(ngModel)]="title">
			</div>
		</form>
	</div>
</div>